* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
header {
  background-image: linear-gradient(to left, pink, rgb(130, 130, 240));
  background-size: 100% 400px;
}

h1 {
  font-size: 90px;
  display: inline-block;
  position: absolute;
  top: 300px;
  left: 325px;
  padding: 10px 20px;
  border-radius: 20px;
}

#profile-pic {
  width: 250px;
  padding: 40px;
  border-radius: 70px;
}
nav {
  background-color: #29a2c7;
}

.fav-section {
  margin: 2em;
}

.flex-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 15px;
}

.flex-list li {
  margin: 1em;
  height: 100px;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.flex-list li:hover {
  transform: scale(1.05);
  box-shadow: yellow 1px 0 10px;
  font-weight: bold;
}

.nav-list {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

a:hover {
  font-weight: 900;
  text-shadow: yellow 1px 0 10px;
  color: black;
}
#mottos .flex-list li {
  background-color: powderblue;
}
#mottos .flex-list li:hover {
  background-color: hotpink;
}
#fav-places .flex-list li:hover {
  background-color: hotpink;
}
#fav-foods .flex-list li:hover {
  background-color: hotpink;
}
#music .flex-list li:hover {
  background-color: hotpink;
}

#fav-foods .flex-list li {
  background-color: lightgreen;
}
#fav-places .flex-list li {
  background-color: rgb(255, 206, 116);
}
.flex-list p {
  font-size: 25px;
}
